<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reverse!</title>
	<meta charset=utf-8 />
</head>

<body>
	<h1>Reverse (inside layout)</h1>
	<h2><%= @title %> (from inside layout, using the @title)</h2>

	<%= yield %>

	<p>The first Sinatra project for I Did It My Way (we are inside layout.erb btw)</p>

</body>

</html>